*{
	margin: 0;/* body=8px h1-h5 */
	padding: 0;
	font-weight: normal;/* h1-h5 */
	text-decoration: none;/* a标签 */
	list-style-type: none;
}
img{
	width: 100%;
	height: 100%;
	border: 0;/* 清除IE6以下浏览器兼容问题 */
}
