.head{
	width: 100%;
	height: 40px;
	background-color: #333;
}
.head-neikuan{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.head-wenzi{
	font-size: 12px;
	color: #b0b0b0;
	font-weight: normal;
	float: left;
	line-height: 40px;
	font-family: "sans-serif","微软雅黑","黑体";
}
.head-wenzi:hover{
	color: #fff;
}
.head-fenge{
	margin: 0 6.5px;
	color: #393e3e;
}
.head-left{
	float: left;
}
.head-right{
	float: right;
}
.nav-neikuan{
	width: 1226px;
	height: 55px;	
	margin: 0 auto;
	margin-top: 22px;
}
.nav-logo{
	width: 55px;
	height: 55px;
	background-color: #ff6700;
	float: left;
}
.nav-neirong{
	float: left;
	margin-left: 189px;
}
.nav-wenzi{
	font-size: 16px;
	color: #333;
	font-weight: normal;
	float: left;
	line-height: 55px;
	font-family: "sans-serif","微软雅黑","黑体";	
	margin-left: 20px;
}
.nav-wenzi:link{
	color: green;
}
.nav-wenzi:visited{
	color: pink;
}
.nav-wenzi:hover{
	color: #ff6700;
}
.nav-wenzi:active{
	color: yellow;
}
.shanping{
	width: 1226px;
	height: 460px;
	background-color: #333;
	margin: 0 auto;
	margin-top: 23px;
}
.xilie-neikuan{
	width: 1226px;
	height: 170px;	
	margin: 0 auto;
	margin-top: 14px;	
}
.xilie-box{
	width: 316px;
	height: 170px;
	background-color: pink;
	float: left;
	margin-left: 15px;
}
.xilie-caidan{
	width: 234px;
	height: 170px;
	margin-left: 0;
}
.xilie-1{
	margin-left: 14px;
}
.danpin-neikuan{
	width: 1226px;
	height: 398px;	
	margin: 0 auto;
	margin-top: 20px;	
}
.tuijian{
	height: 358px;	
	background-color: #f5f5f5;
}
.reping{
	height: 469px;	
	background-color: #f5f5f5;
}
.danpin-top{
	width: 1226px;
	height: 58px;	
	margin: 0 auto;		
}
.danpin-top-left{
	font-size: 22px;
	color: #333;
	font-weight: normal;
	float: left;	
	font-family: "sans-serif","微软雅黑","黑体";
	line-height: 58px;	
}
.danpin-top-right-box{
	width: 34px;
	height: 22px;
	border: 1px solid #e0e0e0;
	float: right;
	margin-top: 17px;
}
.right-box-wenzi{
	font-size: 18px;
	color: #e0e0e0;
	font-weight: normal;	
	line-height: 22px;
	font-family: "sans-serif","微软雅黑","黑体";	
	text-align: center;
}
.right-box-wenzi-1{
	color: #b0b0b0;
}
.danpin-bottom{
	width: 1226px;
	height: 340px;	
	margin: 0 auto;	
}
.danpin-bottom-neirong{
	width: 234px;
	height: 339px;
	background-color: #fafafa;
	float: left;	
	border-top: #ffac13 solid 1px;	
	margin-left: 14px;
}
.danpin-bottom-neirong-1{
	margin-left: 0px;
}
.danpin-bottom-neirong-2{
	border-top-color: #83c44e;
}
.danpin-bottom-neirong-3{
	border-top-color: #2196f3;
}
.danpin-bottom-neirong-4{
	border-top-color: #e53935;
}
.danpin-bottom-neirong-5{
	border-top-color: #00c0a5;
}
.tuijian-neirong{
	height: 299px;
	border-top-color: #fff;
	background-color: #fff;	
}
.danpin-bottom-neirong-box{
	width: 160px;
	height: 160px;		
	margin: 0 auto;	
	margin-top: 40px;
}
.tuijian-neirong-box{
	width: 140px; 
	height: 140px;
	background-color: #fff;	
}
.danpin-wenzi{	
	font-size: 12px;
	color: #212121;
	font-weight: normal;		
	font-family: "sans-serif","微软雅黑","黑体";
	text-align: center;	
	margin-top: 20px;
}
.danpin-wenzi-1{
	font-size: 11px;
	color: #b0b0b0;
	margin-top: 6px;
}
.danpin-wenzi-2{	
	color: #ff6709;
	margin-top: 12px;
}
.home{
	width: 100%;
	height: auto;
	background-color: #f5f5f5;
	margin-top: 40px;
	overflow: hidden;
}
#jiadian{
	width: 1226px;
	height: 672px;
	background-color: lightyellow;
	margin: 0 auto;
	margin-top: 60px;	
}
.jiadian-top{
	width: 100%;
	height: 58px;
	background-color: #f5f5f5;	
}
.jiadian-top h2{
	font-size: 22px;
	color: #333;
	line-height: 58px;
	font-weight: 200;
	float: left;
}
.jiadian-wenzi{
	float: right;	
	padding-top: 18px;	
}
.jiadian-wenzi a{
	font-size: 16px;
	color: #424242;
	line-height: 20px;	
	float: left;
	margin-left:30px; 
}
.jiadian-wenzi .jiadian-wenzi1{
	margin-left:0; 
}
.jiadian-wenzi a:hover{
	color: #ff7600;
	border-bottom: 2px solid #ff7600;
}
.jiadian-bottom{
	width: 100%;
	height: 614px;
	background-color: yellow;
}
.jiadian-zuo{
	float: left;
	width: 234px;
	height:100%;
	background-color: pink;
}
.jiadian-you{
	float: left;
	width: 992px;
	height:100%;
	background-color: #f5f5f5;
}
.jiadian-you-box{
	width: 100%;
	height: 300px;
	background-color: #f5f5f5;
	margin-bottom: 14px;
}
.jiadian-you-box-1{
	margin-bottom: 0;
}
.jiadian-product{
	width: 234px;
	height:300px;
	background-color: #fff;
	float: left;
	margin-left:14px; 
}
.jiadian-product-1{
	background-color: #f5f5f5;	
	/* margin-left:0; */
}
.jiadian-product-box{
	width: 150px;
	height: 150px;		
	margin: 0 auto;
	padding-top: 30px;	
	/* margin-top: 20px; */			
}
.jiadian-box-shang{
	width: 234px;
	height: 143px;
	padding-top: 0;		
	margin-bottom: 14px ;
	background-color: #fff;
	overflow: hidden;
}
.jiadian-box-box{
	width: 80px;
	height: 80px;		
	margin-top: 28px;
	margin-right: 20px;
	float: right;
}
.jiadian-box-box-1{
	width: 48px;
	height: 48px;		
	margin-top: 45px;
	margin-right: 28px;
}
.box-wenzi{
	margin-left: 30px;
	margin-top: 44px;	
	font-size: 12px;
	color: #212121;
	font-weight: normal;		
	font-family: "sans-serif","微软雅黑","黑体";	
}
.box-wenzi-1{
	color: #ff6709;
	margin-top: 6px;
}
.box-wenzi-2{
	font-size: 18px;
	margin-top: 54px;
}
.box-wenzi-3{
	font-size: 11px;
	color: #b0b0b0;
	margin-top: 3px;
}



#zhineng{
	width: 1226px;
	height: 672px;
	background-color: lightyellow;
	margin: 0 auto;
	margin-top: 20px;	
}
.jiadian-bottom{
	width: 100%;
	height: 614px;
	background-color: #f5f5f5;
}
.zhineng-product{
	margin-left: 0;
}


#dapei{
	width: 1226px;
	height: 672px;
	background-color: lightyellow;
	margin: 0 auto;
	margin-top: 20px;	
}


#peijian{
	width: 1226px;
	height: 672px;
	background-color: lightyellow;
	margin: 0 auto;
	margin-top: 20px;	
}


#zhoubian{
	width: 1226px;
	height: 672px;
	background-color: lightyellow;
	margin: 0 auto;
	margin-top: 20px;	
}
